.App .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  flex: 1;
  text-align: center;
  padding-bottom: 30px;
}

.App .App-content{
  background-color: #f4f4f4;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gif_player {
  width: 100%;
}

.gif_player .play_button{
  opacity: .2 !important;
}

.gif_player .play_button:hover {
  opacity: 1 !important;
}

.ArrowUpward {
  background:#222222;
  border-radius:100px;
  padding:20px;
  color:white;
  opacity: .7;
  transition: .8s all !important;
}

.ArrowUpward:hover {
  opacity: 1;
  transition: .8s all;
}

.MuiGrid-gutter-xs-24-111 {
  width: initial !important;
  margin: initial !important;
}

.MuiInput-root-59 {
  color: rgb(255, 255, 255) !important;
  margin-bottom: 10px !important;
}
.MuiInput-inkbar-61:after {
  background-color: #ffffff !important;
}

.ListShots{
  width: initial !important;
  margin: initial !important;
}

.ListShots a{
  text-decoration: blink;
  color: #f97088;
  font-weight: bold;
  cursor: pointer !important;
}